
.box {
	height: 35px;
	width: 35px;
	border: 1px solid black;
	display: inline-block;
	margin-top: -5px;
}

.btn {
	height: 50px;
	width: 100px;
	background: black;
	color: white;
}

#mainBoard {
	height: 650px;
	width: 765px;
	/* border: 1px solid black; */
	margin-top: 20px;
}

#backgroundIndicator {
	height: 45px;
	width: 45px;
	background: #87CEFA;
	margin-left: 42.5%;
}

.skyblue {
	background: #87CEFA;
}

.cloud {
	background: white;
}

.dirt {
	background-image: url("dirt.jpg");
	background-size: cover;
}

.dirtWithGrass {
	background-image: url("grass.jpg");
	background-size: cover;
}

.justGrass {
	background-image: url("grassnodirt.png");
	background-size: cover;
}

.treeBark {
	background-image: url("bark.jpg");
	background-size: cover;
}

.treeLeaf {
	background-image: url("leaf.png");
	background-size: cover;
}


.inventory {
	display: inline-block;
}

.item {
	width: 45px;
	height: 45px
}

/* .inventoryBox {
	display:inline-block;
} */

.col-lg-3{
	text-align: center;
}