body {
	background: black;
}

.logoimg {
	background: url("MinecraftLogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width:900px;
    height:188px;
	margin-top: -20px;
	margin-left: 17%;
	
}

.modalIntroPage {
	display: block;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: url("MinecraftBackground.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.modal-content-Intro {
	background:transparent;
	margin: 15% auto;
	padding: 20px;
	width: 100%;
	height: 100%;
}

#beginGameButton {
	width: 200px;
	height: 100px;
	margin-left: 41%;
	border: 1px solid brown;
}


.box {
	height: 35px;
	width: 35px;
	display: inline-block;
	margin-top: -5px;
}

.button {
	height: 50px;
	width: 150px;
	background: red;
	display: block;
	font-family: 'Press Start 2P', cursive;
	color: black;
	margin-top: 20px;
	margin-left: 27%;
	cursor: pointer;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgb(0,0,0);
	background:rgba(0,0,0,0.4); 
}

.modal-content {
	background: black;
	color: white;
	margin: 15% auto;
	padding: 20px;
	border: 3px solid red;
	width: 80%;
}

.close{
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.tutorialText {
	font-family: 'Press Start 2P', cursive;
	color: white;
	text-align: center;
}


.toolBackgroundColor {
	background: blue;
}

#mainBoard {
	height: 650px;
	width: 765px;
	margin-top: 20px;
}

.backgroundIndicator {
	border: 2px solid white;
	margin-top: 20px;
}

.textToolBar {
	color: white;
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	font-size: 10px;
}

#toolHeaderText {
	font-size: 20px;
	color: white;
	font-family: 'Press Start 2P', cursive;
	text-align: center;
}

.skyblue {
	background: #87CEFA;
}

.cloud {
	background: white;
}

.dirt {
	background-image: url("dirt.jpg");
	background-size: cover;
}

.rock {
	background-image: url("rock.png");
	background-size: cover;
}

.dirtWithGrass {
	background-image: url("grass.jpg");
	background-size: cover;
}

.justGrass {
	background-image: url("grassnodirt.png");
	background-size: cover;
}

.treeBark {
	background-image: url("bark.jpg");
	background-size: cover;
}

.treeLeaf {
	background-image: url("leaf.png");
	background-size: cover;
}

.item {
	width: 45px;
	height: 45px;
	border: 1px solid white; 
}


.col-lg-3{
	text-align: center;
}

.toolImage {
	width: 50px;
	margin-left: 10px;
	text-align: center;
}

